<h1>Welcome to my Test One tv show reviews site!</h1>

<% @page.each do |page| %><div class="my-box">
  <h2><%= page.title %></h2><br />
  <i><%= page.channel %></h2><br /><br />
  <p><%= page.description %></p>
</div><br /><% end %>