<h1>Welcome to my Test One tv show reviews site!</h1>

<div class="my-box"><% @page.each do |page| %>
  <h2><%= page.title %></h2><br />
  <i><%= page.channel %></h2><br /><br />
  <p><%= page.description %></p>
<% end %></div>